<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.one.pojian.mapper.GisAreaTDTMapper">
    <select id="getArea" resultType="com.one.pojian.entity.po.GisAreaTDT">
        select gat.id, gat.name, gat.code, gat.typename, gat.classcode, ST_AsText(gat.geo,'axis-order=long-lat') as geo
        from gis_area_tdt gat
        where gat.id > 34 and gat.id &lt; 40
    </select>
    <select id="getProvince" resultType="hashmap">
        select gat.id, gat.name, gat.code, gat.typename, gat.classcode, ST_AsText(gat.geo,'axis-order=long-lat') as geo
        from gis_area_tdt gat
        where gat.classcode = 1
    </select>
    <select id="getCity" resultType="hashmap">
        select gat.id, gat.name, gat.code, gat.typename, gat.classcode, ST_AsText(gat.geo,'axis-order=long-lat') as geo
        from gis_area_tdt gat
        where gat.classcode = 2 and gat.province_code = #{code}
    </select>
    <select id="getRegion" resultType="hashmap">
        select gat.id, gat.name, gat.code, gat.typename, gat.classcode, ST_AsText(gat.geo,'axis-order=long-lat') as geo
        from gis_area_tdt gat
        where gat.classcode = 3 and gat.city_code = #{code}
    </select>
    <select id="getTown" resultType="hashmap">
        select gat.id, gat.name, gat.code, gat.typename, gat.classcode, ST_AsText(gat.geo,'axis-order=long-lat') as geo
        from gis_area_tdt gat
        where gat.classcode = 4 and gat.region_code = #{code}
    </select>
    <update id="updateGeoById">
        UPDATE gis_area_tdt
        SET lng = #{lng}, lat = #{lat}, geo = ST_GeomFromText(#{geo},4326,'axis-order=long-lat')
        WHERE code = #{code}
    </update>
</mapper>