<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.one.pojian.mapper.GisAreaTDTMapper">
    <update id="updateGeoById">
        UPDATE gis_area_tdt
        SET lng = #{lng}, lat = #{lat}, geo = ST_GeomFromText(#{geo},4326,'axis-order=long-lat')
        WHERE code = #{code}
    </update>
</mapper>