<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.one.pojian.mapper.SayingMapper">
    <select id="getRandomSaying" resultType="com.one.pojian.entity.po.Saying">
        SELECT *
        FROM saying
        ORDER BY RAND() LIMIT 1
    </select>
    <select id="getCountEveryDay" resultType="hashmap">
        SELECT a.date, COUNT(a.date) AS count  FROM (
            SELECT DATE_FORMAT(s.create_date, '%Y-%m-%d') AS date
            FROM saying s) a
        GROUP BY a.date
        ORDER BY a.date
    </select>
    <sql id="baseSelect">
        SELECT
            s.id
        FROM
            saying s
        LEFT JOIN
            rel_saying_tag rst ON s.id = rst.saying_id
        LEFT JOIN
            sys_tag st ON st.id = rst.tag_id
        <where>
            st.id in
            <foreach item="item" index="index" collection="tagIds" open="(" separator="," close=")">
                #{item}
            </foreach>
            <if test="author != null and author != ''">
                and s.author like concat('%', #{author}, '%')
            </if>
            <if test="book != null and book != ''">
                and s.book like concat('%', #{book}, '%')
            </if>
            <if test="article != null and article != ''">
                and s.article like concat('%', #{article}, '%')
            </if>
        </where>
        GROUP BY
            s.id
        HAVING COUNT(DISTINCT st.id) = #{tagSize}
        ORDER BY
            s.id desc
    </sql>
    <select id="getSayingPageList" resultType="java.lang.Integer">
        <include refid="baseSelect"></include>
        LIMIT #{startIndex}, #{size};
    </select>
    <select id="getSayingTotal" resultType="java.lang.Integer">
        SELECT count(t.id) count
        FROM (
            <include refid="baseSelect"></include>
        ) as t
    </select>
    <select id="getSayingTags" resultType="com.one.pojian.entity.dto.SayingDTO">
        SELECT
            s.id, s.name, s.author, s.book, s.article, s.create_date, s.modifier_date,
            GROUP_CONCAT(DISTINCT st.id ORDER BY st.id SEPARATOR ',') AS tagIds,
            GROUP_CONCAT(DISTINCT st.name ORDER BY st.name SEPARATOR ',') AS tagNames
        FROM
            saying s
                LEFT JOIN
            rel_saying_tag rst ON s.id = rst.saying_id
                LEFT JOIN
            sys_tag st ON st.id = rst.tag_id
        WHERE s.id = #{id}
        GROUP BY s.id
    </select>
</mapper>